/** @format */

.product {
  padding: 20px 50px;
  display: flex;
  gap: 50px;
  .left {
    display: flex;
    flex: 1;
    gap: 20px;
    .images {
      flex: 1;
      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        cursor: pointer;
        margin-bottom: 10px;
      }
    }
    .mainImg {
      flex: 5;
      img {
        width: 100%;
        max-height: 800px;
        object-fit: cover;
      }
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .price {
      color: #2879fe;
      font-size: 30px;
      font-weight: 500;
    }
    p {
      font-size: 18px;
      font-weight: 300;
      text-align: justify;
    }
    .quantity {
      display: flex;
      align-items: center;
      gap: 10px;
      button {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
      }
    }
    .addToCart {
      max-width: 250px;
      padding: 10px;
      background-color: #2879fe;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      cursor: pointer;
      border: none;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 14px;
    }
    .link {
      display: flex;
      gap: 20px;
      .item {
        color: #2879fe;
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 10px;
        font-size: 14px;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: gray;
      font-size: 14px;
      margin-top: 30px;
    }
  }
}
