/** @format */

.products {
  padding: 30px 50px;
  display: flex;
  .left {
    flex: 1;
    position: sticky;
    height: 100%;
    top: 50px;
  }
  .right {
    flex: 3;
    .cartImg {
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-bottom: 50px;
    }
  }
}
